:root {
    --primary-color: #fff;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    background-size: auto 100%;
    background-color: #906256;
    color: #4E342D;
    font-family: 'Hahmlet', serif;
  }
  
  .classymod {
    background-color: #FFB1B1;
    color: #FF0000;
    font-family: 'Dynalight', cursive;
  }

  .impactmod {
    background-color: #676767;
    color: #FFFFFF;
    font-family: 'Emblema One', cursive;
  }

  .simplemod{
    background-color: #906256;
    color: #4E342D;
    font-family: 'Hahmlet', serif;
  }
  
  #biggestbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  #inbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 45px;
    margin-top: 20px;
    margin-right: 120px;
  }

  #head{
    width: 100%;
    display: flex;
    align-items: center;
  }

  #title{
    color: #4E342D;
    margin-right: 1276px;
    font-size: 50px;
  }

  .classymod #title {
    color: #FF0000;
    font-size: 70px;
    margin-top: 39.5px;
    margin-bottom: 33.5px;
    margin-right: 1296px;
    letter-spacing: 2px;
  }

  .impactmod #title{
    color: #fff;
    width: 330px;
    margin-right: 1226px;
  }
  

  #timer{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    height: 500px;
    background-color: #C28879;
    border-radius: 30px;
  }

  .classymod #box{
    background-color: #FF9090;
    border: solid black 10px;
  }

  .impactmod #box{
    background-color: #fff;
  }

  #time{
    width: 640px;
    padding: 10px;
    background-color: #fff;
    font-family: 'Hahmlet', serif;
    font-size: 140px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 35px;
    margin-top: 50px;
  }

  .classymod #time{
    font-family: 'Dynalight', cursive;
    border: solid black 3px;
    font-size: 170px;
  }

  .impactmod #time{
    font-family: 'Emblema One', cursive;
    background-color: #454545;
  }

  label{
    font-family: 'Hahmlet', serif;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding:5px 15px 10px 15px;
    border-radius: 30px;
    margin-right: 30px;
    cursor: pointer;
  }

  .classymod label{
    font-family: 'Dynalight', cursive;
    font-size: 30px;
    color: #000000;
    padding:5px 15px 10px 20px;
  }

  .impactmod label{
    font-family: 'Emblema One', cursive;
    color: #454545;
  }

  input{
    appearance: none;
}

input:checked + label {
    background: #906256;
    color: var(--primary-color);
  }

  .classymod input:checked + label{
    background: #FFB1B1;
    border: solid black 3px;
  }

  .impactmod input:checked + label{
    background: #454545;
  }

  input:hover + label{
    color: var(--primary-color);
  }

  #start{
    width: 340px;
    padding: 15px;
    background-color: #906256;
    font-family: 'Hahmlet', serif;
    font-size: 20px;
    color-scheme: var(--primary-color);
    cursor: pointer;
    border: none;
    color: #fff;
  }

  .classymod #start{
    background-color: #FFB1B1;
    border: solid black 3px;
    font-family: 'Dynalight', cursive;
    color: #000000;
    font-size: 30px;
  }

  .impactmod #start{
    background-color: #454545;
    font-family: 'Emblema One', cursive;
    font-size: 30px;
  }

  #gear{
    cursor: pointer;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

  #popupDiv {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: #454545;
    padding: 20px;
    display: none;
    z-index: 2;
    color: #fff;
    border-radius: 10px;
    font-family: 'Inria Sans', sans-serif;
}

#end{
  display: flex;
  justify-content: end;
}

#close{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-self: end;
}

#change{
  background-color: #000000;
  color: #fff;
  width: 200px;
  border-radius: 8px;
  padding: 5px;
  font-size: 15px;
  margin-left: 45px;
}

#tag{
  opacity: 0.75;
  display: flex;
  justify-content: space-around;
}

h2{
  margin-left: 40px;
  opacity: 0.75;
}

.inputtim{
  width: 60px;
  text-align: center;
  background-color: #000000;
  font-size: 15px;
  color: #fff;
  padding: 8px;
}

#timeInput1{
  margin-left: 46px;
}

#timeInput2{
  margin-left: 80px;
}

#timeInput3{
  margin-left: 80px;
}

#volumeSlider {
  width: 70%;
  height: 15px;
  background-color: #ffffff;
  outline: none;
  border-radius: 30px;
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#volumeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 30px; 
  height: 30px; 
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 1px;
  cursor: pointer;
}

#volumeSlider::-moz-range-thumb {
  appearance: none;
  width: 30px; 
  height: 30px; 
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 1px;
  cursor: pointer;
}

@media screen and (max-width: 320px){

}

@media screen and (max-width: 541px) and (min-width: 321px){

  #inbox {
    margin: 0;
  }

  #head{
    justify-content: center;
  }

  #title{
    width: 330px;
    margin-right: 0px;
    font-size: 30px;
  }

  .classymod #title {
    width: 330px;
    margin-right: 0px;
    font-size: 40px;
  }

  .impactmod #title{
    margin-right: 0px;
    font-size: 25px;
  }

  .gear{
    margin-right: 20px;
  }

  #box{
    width: 355px;
    height: 300px;
  }

  #time{
    width: 220px;
    padding: 10px;
    background-color: transparent;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .classymod #time{
    border: none;
    font-size: 120px;
  }

  .impactmod #time{
    font-family: 'Emblema One', cursive;
    background-color: transparent;
    color: black;
  }

  label{
    background-color: transparent;
    font-size: 15px;
    padding:5px 15px 10px 15px;
    margin-right: 0px;
    cursor: pointer;
  }

  .classymod label{
    font-size: 25px;
    padding:5px 15px 10px 20px;
  }

  #start{
    width: 250px;
    font-size: 20px;
  }

  .classymod #start{
    font-size: 25px;
  }

  .impactmod #start{
    
    font-size: 25px;
  }

  #popupDiv {
    top: 50%;
    left: 50%;
    width: 300px;
}

#timeInput1{
  margin-left: 15px;
}

#timeInput2{
  margin-left: 15px;
}

#timeInput3{
  margin-left: 15px;
}

#volumeSlider {
  width: 80%;
  height: 10px;
  margin-left: 35px;
}

#volumeSlider::-webkit-slider-thumb {
  width: 25px; 
  height: 25px; 
}

#volumeSlider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
}

  

}

@media screen and (max-width: 1024px) and (min-width: 541px){

  #inbox {
    margin: 0;
  }

  #head{
    justify-content: center;
  }

  #title{
    width: 330px;
    margin-right: 0px;
    font-size: 30px;
  }

  .classymod #title {
    width: 330px;
    margin-right: 0px;
    font-size: 40px;
  }

  .impactmod #title{
    margin-right: 0px;
    font-size: 25px;
  }

  .gear{
    margin-right: 20px;
  }

  #box{
    width: 500px;
    height: 350px;
  }

  #time{
    width: 220px;
    padding: 10px;
    background-color: transparent;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .classymod #time{
    border: none;
    font-size: 120px;
  }

  .impactmod #time{
    font-family: 'Emblema One', cursive;
    background-color: transparent;
    color: black;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px){

  #inbox {
    margin: 0;
  }

  #head{
    justify-content: center;
  }

  #title{
    width: 530px;
    margin-right: 0px;
    font-size: 30px;
  }

  .classymod #title {
    width: 530px;
    margin-right: 0px;
    font-size: 40px;
  }

  .impactmod #title{
    width: 530px;
    margin-right: 0px;
    font-size: 25px;
  }

  #box{
    width: 800px;
    height: 450px;
  }

  #time{
    width: 500px;
    font-size: 120px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
}